.professions {
  &Page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: rem(40);

    &Extra {
      display: flex;
      justify-content: center;
      > div {
        max-width: rem(820);
        text-align: center;
        > span {
          font-size: rem(15);
          color: var(--color-grey);
        }
      }
    }
  }
}
