@use "./mixins.scss" as *;
@use "./variables.scss";
@use "./functions.scss" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--color-black);
  font-family: var(--font-family-base);
}

h1,
.h1 {
  font-size: rem(35);
  font-weight: 500;
  line-height: 1.03;
}

h3,
.h3 {
  font-size: rem(19);
  line-height: 1.26;
  font-weight: 500;
  letter-spacing: -0.01em;
}

h2,
.h2 {
  font-size: rem(27);
  line-height: 1.03;
  font-weight: 400;
}

h4,
.h4 {
  font-size: rem(17);
  font-weight: 500;
}
