@use "./helpers/index.scss" as *;

html.is-lock {
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#dropdown-root {
  position: fixed;
  inset: 0;
  z-index: 1019;
}

body {
  // @include fluid-text(18, 14);
  font-family: "Rubik";
}

span,
p {
  font-size: rem(15);
}
main {
  background-color: var(--color-light-grey);
  flex: 1;
}

// footer {
// }
